{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card-body">

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Serial Number</th>
                <th scope="col">Topic Name</th>
                <th scope="col">Video Lectures</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">0</th>
                <td>Introduction to HTML</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                    <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+00+-+Introduction+to+HTML.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Creating the first web page</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+01+-+Creating+the+first+web+page.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Line breaks,spacing and comments</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+02+-+Line+breaks%2C+spacing%2C+and+comments.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ordered and Unordered List</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+03+-+Ordered+and+Unordered+lists.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Creating a table</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+04+-+Creating+a+table.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Creating a web link</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+05+-+Creating+a+web+link.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Creating links within same web page</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+06+-+Creating+links+within+same+web+page.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Adding an image to a web page</td>
                <td>
                    <button class="btn btn-danger btn-pill btn-sm">
                        <a href="https://d17ucl6n268pel.cloudfront.net/HTML+Tutorial+for+Beginners+-+07+-+Adding+a+image+to+a+web+page.mp4">Click Here<a>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    
      </div>
</div>
{% endblock %}